html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

/* .conMain {
  height: 100vh;
  position: relative;
} */

.beta {
  position: fixed;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  border-color: black;
  box-shadow: 2px 2px 3px;
  text-align: center;
  right: 40px;
  bottom: 40px;
  font-size: large;
  padding: 10px;
  transition: 1000ms;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }

  .beta {
    border-color: whitesmoke;
  }
}

@media (max-width: 600px) {
  .beta {
    font-size: smaller;
    right: 10px;
    top: 10px;
    bottom: auto;
    padding: 5px;
  }
}